.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 20px 80px;
  font-family: var(--font-geist-sans);
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-size: 16pt;
  flex: 1;
}

.vibeCircle {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 32px;
  background-size: 300% 300%;
  animation: colorFlow 15s ease-in-out infinite, pulse 6s ease-in-out infinite;
  transition: background-image 0.5s ease-in-out;
}

@keyframes colorFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1);
  }
}

.moodPicker {
  display: flex;
  gap: 16px;
}

.moodPicker button {
  font-size: 28pt;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #181818;
  width: 64px;
  height: 64px;
}

@media (prefers-color-scheme: light) {
  .moodPicker button {
    background-color: #ededed;
  }
}

.moodPicker button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.page footer {
  padding: 20px 0;
  margin-top: auto;
}

.page footer a {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}