.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 80px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-size: 16pt;
}

.vibeCircle {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 32px;
  background-size: 200% 200%;
  animation: colorFlow 15s, pulse 6s ease-in-out infinite;
}

@keyframes colorFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1);
  }
}

.moodPicker {
  display: flex;
  gap: 16px;
}

.moodPicker button {
  font-size: 32pt;
  padding: 8px
}

.moodPicker button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}